<hr style="border:5px solid #002060"> </hr>

# pandas Fundamentals <hr style="border:4.5px solid #002060"> </hr>

## Introduction to pandas Series

Import the 'pandas' library to load it into the computer's memory, so that you can work with it in this Notebook Document.

<br/> *Note: Don't forget to use the widely-accepted convention as well.*

<br/> Remember that no matter how many times you execute this code cell, the library will be imported only once in this Document, and it will remain active.

In [4]:
import pandas as pd

Check the version of the library you just imported.

In [18]:
pd.__version__

'1.5.3'

Create the **employee_names** list.

In [1]:
employee_names = ['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']
employee_names

['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson']

Verify the **employee_names** object is a list.

In [2]:
type(employee_names)

list

Create a pandas Series object containing the elements from the **employee_names** list. Call it **employee_names_Series**.

In [5]:
employee_names_Series = pd.Series(employee_names)

Confirm the object is of the Series type.

*Note: Feel free to take advantage of the Jupyter autocompletion feature. You can activate it through the Tab button while typing code.*

In [6]:
type(employee_names_Series)

pandas.core.series.Series

Now, create a Series object directly. That is, not from an existing list, but by using the following structure:
**pd.Series([...])**
<br/>Let the elements of the Series object be the following numbers: 5, 8, 3, and 10. Name the object **work_experience_yrs.**

In [7]:
work_experience_yrs = pd.Series([5,8,3,10])

Import the 'NumPy' package to load it into the computer's memory, so that you can work with it in this Notebook Document.

*Note: Don't forget to use the widely-accepted convention as well.*

In [9]:
import numpy as np

Execute the code cell below to create the **array_1** NumPy array object.

In [10]:
array_age = np.array([50, 53, 35, 43])
array_age

array([50, 53, 35, 43])

Verify the type of the **array_age** object:

In [11]:
type (array_age)

numpy.ndarray

Create a Series object called **series_age** from the NumPy array object **array_age** you just created.

In [12]:
series_age = pd.Series(array_age)

Check the type of the newly created object.

In [13]:
type(series_age)

pandas.core.series.Series

Use the *print()* function to display the content of **series_age**.

In [14]:
print(series_age)

0    50
1    53
2    35
3    43
dtype: int32

## Working with Methods in Python

Consider the following Series object.

In [15]:
employees_work_exp = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a certain method to extract the top five values from this Series.
<br/> *Please be aware that pandas may automatically display the values of the object as floats as opposed to integers.*

In [16]:
employees_work_exp.head(5)

Amy White              3.0
Jack Stewart           5.0
Richard Lauderdale     4.5
Sara Johnson          22.0
Patrick Adams         28.0
dtype: float64

Use another method to extract the last few rows of **employees_work_exp**.

In [17]:
employees_work_exp.tail(5)

Daniel Lloyd          6.0
John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Parameters and Arguments in pandas

## Parameters vs Arguments

Consider the following Series object.

In [19]:
employees_work_experience = pd.Series({
'Amy White'   : 3,
'Jack Stewart'   : 5,
'Richard Lauderdale'  : 4.5,
'Sara Johnson'  : 22,
'Patrick Adams' : 28,
'Jessica Baker'  : 14,
'Peter Hunt'   : 4,
'Daniel Lloyd'  : 6,
'John Owen'   : 1.5,
'Jennifer Phillips'  : 10,
'Courtney Rogers'   : 4.5,
'Anne Robinson'  : 2,
})

Use a pandas method to retrieve the first three records of the object.

In [21]:
employees_work_experience.head(3)

Amy White             3.0
Jack Stewart          5.0
Richard Lauderdale    4.5
dtype: float64

Use a pandas method to retrieve the last four records of the object.

In [22]:
employees_work_experience.tail(4)

John Owen             1.5
Jennifer Phillips    10.0
Courtney Rogers       4.5
Anne Robinson         2.0
dtype: float64

## Using .unique() and .nunique()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [25]:
region_data = pd.read_csv("Region.csv", squeeze=True)

C:\Users\vladi\AppData\Local\Temp\ipykernel_20848\3315126380.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  region_data = pd.read_csv("Region.csv", squeeze=True)

Verify that **region_data** is a Series object.

In [26]:
type(region_data)

pandas.core.series.Series

Use the *.describe()* method to obtain descriptive statistics on the **region_data** Series.
<br>Think of how many unique values there are in the data set. 
<br>*Please note that the statistics provided in the output exclude missing data.*

In [27]:
region_data.describe()

count         1042
unique          18
top       Region 6
freq           326
Name: Region, dtype: object

You can obtain some of the values from the previous output by using Python built-in functions or methods. Please extract the total number of values from the **region_data** Series, then the number of unique values. Finally, obtain a list containing all unique values from this Series.

In [30]:
region_data.unique()

array(['Region 2', 'Region 6', 'Region 3', 'Region 1', 'Region 5',
       'Region 9', 'Region 7', 'Region 4', 'Region 12', 'Region 16',
       'Region 8', 'Region 10', 'Region 13', 'Region 15', 'Region 11',
       'Region 14', 'Region 17', 'Region 18'], dtype=object)

## Using .sort_values()

Load the "Region.csv" file and set the *squeeze* option to *True*. Store the information in a variable called **region_data**. Preview the data with the pandas *.head()* method.

In [39]:
region_data = pd.read_csv("Region.csv", squeeze = True)
region_data

C:\Users\vladi\AppData\Local\Temp\ipykernel_20848\729752850.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  region_data = pd.read_csv("Region.csv", squeeze = True)

0       Region 2
1       Region 6
2       Region 3
3       Region 2
4       Region 3
          ...
1037    Region 6
1038    Region 1
1039    Region 4
1040    Region 6
1041    Region 6
Name: Region, Length: 1042, dtype: object

Sort the values without specifying any arguments.

*Please note that the numbers go from 1 to 18, but we are currently ordering the values as labels, not integers. 1 is succeeded by 10, then 11, and so on until 18. Then we have 2, 3, 4, etc., until 8, and eventually - 9.*

In [40]:
region_data.sort_values()

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

In [41]:
type(region_data)

pandas.core.series.Series

Sort the values, setting the *ascending* parameter equal to *True*.

In [42]:
region_data.sort_values(ascending=True)

462    Region 1
347    Region 1
609    Region 1
610    Region 1
339    Region 1
         ...
536    Region 9
450    Region 9
8      Region 9
842    Region 9
940    Region 9
Name: Region, Length: 1042, dtype: object

Sort the values in **region_data** in descending order.

In [43]:
region_data.sort_values(ascending=False)

450    Region 9
842    Region 9
141    Region 9
940    Region 9
8      Region 9
         ...
569    Region 1
892    Region 1
558    Region 1
557    Region 1
309    Region 1
Name: Region, Length: 1042, dtype: object

## Introduction to pandas DataFrames

Import the pandas and numpy libraries by using the relevant well-known conventions.

In [44]:
import pandas as pd
import numpy as np

The goal of this exercise is to solidify your knowledge and understanding of the fundamentals of using pandas DataFrames.

Execute the next code cell to create the array called **array_c**.

In [45]:
array_c = np.array([[1000, 50, 78.45], [700, 112, 35.5]])
array_c

array([[1000.  ,   50.  ,   78.45],
       [ 700.  ,  112.  ,   35.5 ]])

Convert **array_c** into a DataFrame, called **company_statistics**. Assign the column names and row labels from the following lists as column names and index of this DataFrame, respectively.

In [46]:
# column names
company_statistics = pd.DataFrame(array_c, columns =['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)'])

In [47]:
# row labels
company_statistics = pd.DataFrame(array_c, columns =['No. of Employees', 'Avg. Annual Revenue ($)', 'Share price ($)'], 
                                  index = ['Company A', 'Company B'])

In [48]:
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Display the **company_statistics** DataFrame.

In [49]:
company_statistics

           No. of Employees  Avg. Annual Revenue ($)  Share price ($)
Company A            1000.0                     50.0            78.45
Company B             700.0                    112.0            35.50

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [52]:
sales_products_data = pd.read_csv("Sales-products.csv", index_col="SaleID")

Verify that the obtained object is a pandas DataFrame.

In [53]:
type(sales_products_data)

pandas.core.frame.DataFrame

Try out a well-known pandas method used for Series on this DataFrame to obtain its last five rows.

In [54]:
sales_products_data.tail(5)

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

## pandas DataFrames - Common Attributes

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [55]:
sales_product_data = pd.read_csv("Sales-products.csv", index_col=0)

Return the index of the **sales_products_data** DataFrame.

In [57]:
sales_products_data.index

Index(['SaleID_1', 'SaleID_2', 'SaleID_3', 'SaleID_4', 'SaleID_5', 'SaleID_6',
       'SaleID_7', 'SaleID_8', 'SaleID_9', 'SaleID_10',
       ...
       'SaleID_1267', 'SaleID_1268', 'SaleID_1269', 'SaleID_1270',
       'SaleID_1271', 'SaleID_1272', 'SaleID_1273', 'SaleID_1274',
       'SaleID_1275', 'SaleID_1276'],
      dtype='object', name='SaleID', length=1276)

Verify that **sales_products_data** is a RangeIndex object in an alternative way by using the **type()** funciton.

In [59]:
type(sales_product_data.index)

pandas.core.indexes.base.Index

Retrieve and Index object containing all column names from the **sales_products_data** DataFrame.

In [61]:
column_names = sales_products_data.columns
column_names

Index(['RetailerCountry', 'OrderMethod', 'RetailerType', 'ProductLine',
       'ProductType', 'Product', 'Year', 'Quarter', 'Revenue', 'Quantity',
       'GrossMargin'],
      dtype='object')

You are requested to create a new DataFrame, called **df**, whose data is obtained from the the names of the columns of **sales_products_data** DataFrame, while the column names are obtained from the **new_column_names** list.
<br/><br/> First, execute the next cell to create **new_column_names**, and then in the next cell try creating the **df** DataFrame yourself (by helping yourself with the newly created **new_column_names** list).
<br/><br/> *Note: There are two ways to achieve this - one would be through utilizing the* **columns** *parameter, and the other – with the help of the* **"columns"** *attribute. Choose whichever option you prefer (or why not try both!).*

In [62]:
new_column_names = ['SaleID', 'Country', 'OrderMethod', 'Retailer', 'Line',
       'Type', 'Product', 'YearOfSales', 'Quarter', 'Revenue', 'Quantity',
       'Margin']

In [70]:
df = pd.DataFrame(sales_products_data, columns = new_column_names)

In [71]:
df

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
SaleID,,,,,,,,,,,,
SaleID_1,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
SaleID_2,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
SaleID_3,NaN,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
SaleID_4,NaN,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
SaleID_5,NaN,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
SaleID_1272,NaN,NaN,Sales visit,NaN,NaN,NaN,Husky Rope 60,NaN,Q3 2020,30916.50,173.0,NaN
SaleID_1273,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Climbing Lamp,NaN,Q3 2020,7536.29,193.0,NaN
SaleID_1274,NaN,NaN,Sales visit,NaN,NaN,NaN,Firefly Charger,NaN,Q3 2020,12306.48,238.0,NaN
SaleID_1275,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Axe,NaN,Q3 2020,56499.00,1472.0,NaN
SaleID_1276,NaN,NaN,Sales visit,NaN,NaN,NaN,Granite Extreme,NaN,Q3 2020,89427.00,1178.0,NaN

Display the "head" of the **df** DataFrame.

In [72]:
df.head()

,SaleID,Country,OrderMethod,Retailer,Line,Type,Product,YearOfSales,Quarter,Revenue,Quantity,Margin
SaleID,,,,,,,,,,,,
SaleID_1,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Deluxe Cook Set,NaN,Q1 2018,59728.66,491.0,NaN
SaleID_2,NaN,NaN,Fax,NaN,NaN,NaN,TrailChef Double Flame,NaN,Q1 2018,36050.32,254.0,NaN
SaleID_3,NaN,NaN,Fax,NaN,NaN,NaN,Star Dome,NaN,Q1 2018,90040.48,149.0,NaN
SaleID_4,NaN,NaN,Fax,NaN,NaN,NaN,Star Gazer 2,NaN,Q1 2018,NaN,305.0,NaN
SaleID_5,NaN,NaN,NaN,NaN,NaN,NaN,Compact Relief Kit,NaN,Q1 2018,NaN,182.0,NaN

Use an attribute to obtain the index and column names of **df** in a single output field.

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1276 entries, SaleID_1 to SaleID_1276
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SaleID       0 non-null      float64
 1   Country      0 non-null      float64
 2   OrderMethod  1271 non-null   object
 3   Retailer     0 non-null      float64
 4   Line         0 non-null      float64
 5   Type         0 non-null      float64
 6   Product      1272 non-null   object
 7   YearOfSales  0 non-null      float64
 8   Quarter      1276 non-null   object
 9   Revenue      1260 non-null   float64
 10  Quantity     1273 non-null   float64
 11  Margin       0 non-null      float64
dtypes: float64(9), object(3)
memory usage: 129.6+ KB

Think of **sales_products_data**. Check the information along its axes as well. 
<br/> Compare the output to the one from the previous code cell - are the index and column names different?

In [75]:
sales_product_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1276 entries, SaleID_1 to SaleID_1276
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RetailerCountry  1276 non-null   object
 1   OrderMethod      1271 non-null   object
 2   RetailerType     1273 non-null   object
 3   ProductLine      1273 non-null   object
 4   ProductType      1273 non-null   object
 5   Product          1272 non-null   object
 6   Year             1275 non-null   float64
 7   Quarter          1276 non-null   object
 8   Revenue          1260 non-null   float64
 9   Quantity         1273 non-null   float64
 10  GrossMargin      1250 non-null   float64
dtypes: float64(4), object(7)
memory usage: 119.6+ KB

Use Python indexing on the code from the previous cell as an alternative way  to obtain the index and column names of **sales_products_data** as separate output.
<br/><br/> *Hint: You may want to open parentheses before applying the required indexing syntax!*

In [79]:
sales_index = sales_product_data.index
sales_index

Index(['SaleID_1', 'SaleID_2', 'SaleID_3', 'SaleID_4', 'SaleID_5', 'SaleID_6',
       'SaleID_7', 'SaleID_8', 'SaleID_9', 'SaleID_10',
       ...
       'SaleID_1267', 'SaleID_1268', 'SaleID_1269', 'SaleID_1270',
       'SaleID_1271', 'SaleID_1272', 'SaleID_1273', 'SaleID_1274',
       'SaleID_1275', 'SaleID_1276'],
      dtype='object', name='SaleID', length=1276)

In [80]:
sales_columns = sales_product_data.columns
sales_columns

Index(['RetailerCountry', 'OrderMethod', 'RetailerType', 'ProductLine',
       'ProductType', 'Product', 'Year', 'Quarter', 'Revenue', 'Quantity',
       'GrossMargin'],
      dtype='object')

Use an attribute to obtain metadata about the types of data stored in the different columns of the **sales_products_data** DataFrame.
<br><br> *Hint: If you've worked correctly, the obtained output will inform you that just 4 columns are containing numeric values.*

In [81]:
sales_product_data.dtypes

RetailerCountry     object
OrderMethod         object
RetailerType        object
ProductLine         object
ProductType         object
Product             object
Year               float64
Quarter             object
Revenue            float64
Quantity           float64
GrossMargin        float64
dtype: object

Obtain a Numpy array containing all values of the **sales_products_data**.
<br/><br/> *Note: There are two ways to achieve this - one would be to use an attribute, while the other - use a method! Try both, but keep in mind that pandas developers advise us to stick to using the method.*

In [83]:
sales_product_data.values

array([['United States', 'Fax', 'Outdoors Shop', ..., 59728.66, 491.0,
        0.35754797],
       ['United States', 'Fax', 'Outdoors Shop', ..., 36050.32, 254.0,
        0.4842745],
       ['United States', 'Fax', 'Outdoors Shop', ..., 90040.48, 149.0,
        nan],
       ...,
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 12306.48, 238.0,
        0.56842037],
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 56499.0, 1472.0,
        0.49066667],
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

In [84]:
sales_product_data.to_numpy()

array([['United States', 'Fax', 'Outdoors Shop', ..., 59728.66, 491.0,
        0.35754797],
       ['United States', 'Fax', 'Outdoors Shop', ..., 36050.32, 254.0,
        0.4842745],
       ['United States', 'Fax', 'Outdoors Shop', ..., 90040.48, 149.0,
        nan],
       ...,
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 12306.48, 238.0,
        0.56842037],
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 56499.0, 1472.0,
        0.49066667],
       ['Spain', 'Sales visit', 'Outdoors Shop', ..., 89427.0, 1178.0,
        0.38689474]], dtype=object)

Verify that the obtained objects are NumPy arrays with the help of the "Type" function.

In [86]:
##Import the pandas and numpy libraries by using the relevant well-known conventions.

import pandas as pd
import numpy as np

In [87]:
sales_products_data.shape

(1276, 11)

Obtain the number of rows and columns in the **sales_products_data** DataFrame.

In [88]:
sales_products_data.shape

(1276, 11)

Check if the output obtained in the previous cell is a tuple.

In [89]:
type(sales_products_data.shape)

tuple

## Data Selection in pandas DataFrames

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [90]:
sales_products_data = pd.read_csv("Sales-Products.csv", index_col = 0)

Although we are not advised to, retrieve the data from the 'Product' column from the **sales_products_data** column *without* using the indexing operator **[ ]**.

In [91]:
sales_products_data.Product

SaleID
SaleID_1       TrailChef Deluxe Cook Set
SaleID_2          TrailChef Double Flame
SaleID_3                       Star Dome
SaleID_4                    Star Gazer 2
SaleID_5              Compact Relief Kit
                         ...
SaleID_1272                Husky Rope 60
SaleID_1273        Firefly Climbing Lamp
SaleID_1274              Firefly Charger
SaleID_1275                  Granite Axe
SaleID_1276              Granite Extreme
Name: Product, Length: 1276, dtype: object

Retrieve the data from the 'Product' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [92]:
sales_product_data["Product"]

SaleID
SaleID_1       TrailChef Deluxe Cook Set
SaleID_2          TrailChef Double Flame
SaleID_3                       Star Dome
SaleID_4                    Star Gazer 2
SaleID_5              Compact Relief Kit
                         ...
SaleID_1272                Husky Rope 60
SaleID_1273        Firefly Climbing Lamp
SaleID_1274              Firefly Charger
SaleID_1275                  Granite Axe
SaleID_1276              Granite Extreme
Name: Product, Length: 1276, dtype: object

Apply the **.tail()** method to the code you used in your previous response to obtain the last five rows from the "Product" column.

In [93]:
sales_product_data["Product"].tail()

SaleID
SaleID_1272            Husky Rope 60
SaleID_1273    Firefly Climbing Lamp
SaleID_1274          Firefly Charger
SaleID_1275              Granite Axe
SaleID_1276          Granite Extreme
Name: Product, dtype: object

Although we are not advised to, retrieve the data from the 'Quarter' column from the **sales_products_data** column *without* using the indexing operator **.[ ]**.

In [95]:
sales_product_data.Quarter

SaleID
SaleID_1       Q1 2018
SaleID_2       Q1 2018
SaleID_3       Q1 2018
SaleID_4       Q1 2018
SaleID_5       Q1 2018
                ...
SaleID_1272    Q3 2020
SaleID_1273    Q3 2020
SaleID_1274    Q3 2020
SaleID_1275    Q3 2020
SaleID_1276    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Retrieve the data from the 'Quarter' column from the **sales_products_data** column by using the indexing operator **[ ]**.

In [96]:
sales_product_data["Quarter"]

SaleID
SaleID_1       Q1 2018
SaleID_2       Q1 2018
SaleID_3       Q1 2018
SaleID_4       Q1 2018
SaleID_5       Q1 2018
                ...
SaleID_1272    Q3 2020
SaleID_1273    Q3 2020
SaleID_1274    Q3 2020
SaleID_1275    Q3 2020
SaleID_1276    Q3 2020
Name: Quarter, Length: 1276, dtype: object

Use any of the 4 previous examples to verify that the data obtained from a column of a DataFrame is actually stored in a Series object:

In [97]:
type(sales_product_data["Quarter"])

pandas.core.series.Series

<br> Use a well-know attribute and attribute chaining to obtain information about the type of data stored in the "Revenue" column.

In [98]:
sales_product_data["Revenue"].dtype

dtype('float64')

**Selecting multiple columns from a DF**

Use a list with column names within the indexing operator ([ ]) to extract data from the 'Revenue' and 'Quantity' columns from the **sales_products_data** DataFrame. Use the **.head()** method to only display the top five rows of the selection.  <br>
Solve the problem by using a single line of code.

In [100]:
sales_product_data[["Revenue", "Quantity"]].head()

           Revenue  Quantity
SaleID
SaleID_1  59728.66     491.0
SaleID_2  36050.32     254.0
SaleID_3  90040.48     149.0
SaleID_4       NaN     305.0
SaleID_5       NaN     182.0

Can you think of a more elegant way to obtain the same result? This option is more often encountered in professional work since it improves the legibility of your code.

In [102]:
Revenue_Quality = sales_product_data[["Revenue", "Quantity"]]
Revenue_Quality.head(5)

           Revenue  Quantity
SaleID
SaleID_1  59728.66     491.0
SaleID_2  36050.32     254.0
SaleID_3  90040.48     149.0
SaleID_4       NaN     305.0
SaleID_5       NaN     182.0

## pandas DataFrames - Indexing with .iloc[]

In [104]:
import pandas as pd

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the default index provided for this DataFrame throughout this exercise.*

In [114]:
sales_products_data = pd.read_csv("Sales-products.csv")

In [115]:
sales_products_data

,SaleID,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
0,SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
1,SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
2,SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
3,SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
4,SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710
...,...,...,...,...,...,...,...,...,...,...,...,...
1271,SaleID_1272,Spain,Sales visit,Outdoors Shop,Personal Accessories,Rope,Husky Rope 60,2020.0,Q3 2020,30916.50,173.0,0.298114
1272,SaleID_1273,Spain,Sales visit,Outdoors Shop,Outdoor Protection,Climbing Accessories,Firefly Climbing Lamp,2020.0,Q3 2020,7536.29,193.0,0.445287
1273,SaleID_1274,Spain,Sales visit,Outdoors Shop,Personal Accessories,Climbing Accessories,Firefly Charger,2020.0,Q3 2020,12306.48,238.0,0.568420
1274,SaleID_1275,Spain,Sales visit,Outdoors Shop,Personal Accessories,Tools,Granite Axe,2020.0,Q3 2020,56499.00,1472.0,0.490667
1275,SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.00,1178.0,0.386895

Select the data from the first row from the **sales_products_data** DataFrame (don't forget that in programming we start counting from 0!).

In [116]:
sales_products_data.iloc[0,:]

SaleID                              SaleID_1
RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: 0, dtype: object

Select the data from the penultimate row from the **sales_products_data** DataFrame.

In [108]:
sales_products_data.iloc[-2,:]

RetailerCountry                   Spain
OrderMethod                 Sales visit
RetailerType              Outdoors Shop
ProductLine        Personal Accessories
ProductType                       Tools
Product                     Granite Axe
Year                             2020.0
Quarter                         Q3 2020
Revenue                         56499.0
Quantity                         1472.0
GrossMargin                    0.490667
Name: SaleID_1275, dtype: object

Select the value from the second row and sixth column of **sales_products_data** by using the **.iloc[]** accessor.
<br><br> *Hint: If you've worked correctly, you should obtain 'Cooking Gear'.*

In [117]:
sales_products_data.iloc[1,5]

'Cooking Gear'

Although we are not advised to, can you think of an alternative syntax that you can use to obtain the same information? 
<br> *Hint: You still need to use the **.iloc[]** accessor!*
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*

In [118]:
sales_products_data.iloc[1,:]

SaleID                           SaleID_2
RetailerCountry             United States
OrderMethod                           Fax
RetailerType                Outdoors Shop
ProductLine              Sports Equipment
ProductType                  Cooking Gear
Product            TrailChef Double Flame
Year                               2018.0
Quarter                           Q1 2018
Revenue                          36050.32
Quantity                            254.0
GrossMargin                      0.484274
Name: 1, dtype: object

Use the **.shape** attribute to discover the largest numbers that you can use as arguments of the **.iloc[]** accessor.

In [119]:
sales_product_data.shape

(1276, 11)

Considering the values you just obtained, use the **.iloc[]** accessor find out the value that has been stored in the last row and farthest-to-the-right column.

In [123]:
sales_product_data.iloc[1275,10]

0.38689474

Verify that you've obtained the correct value by applying the **.tail()** method to the **sales_products_data** DataFrame.
<br> Observe the value that is farthest to the right on the last row.

In [124]:
sales_product_data.tail(1)

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1276,Spain,Sales visit,Outdoors Shop,Camping Equipment,Tools,Granite Extreme,2020.0,Q3 2020,89427.0,1178.0,0.386895

Prove that **.iloc[]** can be applied to a Series object such as **sales_products_data['Product']** as well (e.g. by obtaining the first element from this column).
<br><br> *Note: We are asking you to try this syntax out to make sure you are in control of obtaining the desired portion of the data regardless of the object it has been contained into. The syntax and tools are similar, while their utilization may differ.*
<br> *This note applies to this and the next task.*

In [126]:
sales_products_data["Product"].iloc[0,]

'TrailChef Deluxe Cook Set'

Although we are not advised to, when working with a Series object, we can obtain the same output without using the **.iloc[]** indexer and using "classical" Python indexing. Can you try that out?

In [128]:
sales_products_data["Product"][0]

'TrailChef Deluxe Cook Set'

## pandas DataFrames - Indexing with .loc[]

Import the *Sales-products.csv* dataset into a DataFrame object called **sales_products_data**.

*Note: Please use the 'SaleID' column as an index for this DataFrame throughout this exercise.*

In [130]:
sales_product_data = pd.read_csv("Sales-products.csv", index_col = "SaleID")
sales_product_data.head()

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_1,United States,Fax,Outdoors Shop,Personal Accessories,Cooking Gear,TrailChef Deluxe Cook Set,2018.0,Q1 2018,59728.66,491.0,0.357548
SaleID_2,United States,Fax,Outdoors Shop,Sports Equipment,Cooking Gear,TrailChef Double Flame,2018.0,Q1 2018,36050.32,254.0,0.484274
SaleID_3,United States,Fax,Outdoors Shop,NaN,Tents,Star Dome,2018.0,Q1 2018,90040.48,149.0,NaN
SaleID_4,United States,Fax,Outdoors Shop,NaN,Tents,Star Gazer 2,2018.0,Q1 2018,NaN,305.0,0.292938
SaleID_5,United States,NaN,Outdoors Shop,Personal Accessories,First Aid,Compact Relief Kit,2018.0,Q1 2018,NaN,182.0,0.610710

Retrieve the values from the first row of the DataFrame by using the specified label-based index rather than the default numeric index.

In [131]:
sales_product_data.loc["SaleID_1"]

RetailerCountry                United States
OrderMethod                              Fax
RetailerType                   Outdoors Shop
ProductLine             Personal Accessories
ProductType                     Cooking Gear
Product            TrailChef Deluxe Cook Set
Year                                  2018.0
Quarter                              Q1 2018
Revenue                             59728.66
Quantity                               491.0
GrossMargin                         0.357548
Name: SaleID_1, dtype: object

By using the specified label-based index again, retrieve the information stored in the 'GrossMargin' column for the 4th sale.

In [132]:
sales_product_data.loc["SaleID_4", "GrossMargin"]

0.29293788

Obtain a DataFrame containg the values stored in all columns for sales numbered 15, 235, and 1147 by using the **.loc[]** indexer.

In [133]:
sales_product_data.loc[["SaleID_15", "SaleID_235", "SaleID_1147"],:]

,RetailerCountry,OrderMethod,RetailerType,ProductLine,ProductType,Product,Year,Quarter,Revenue,Quantity,GrossMargin
SaleID,,,,,,,,,,,
SaleID_15,United States,Web,Mall,Personal Accessories,Eyewear,Hawk Eye,2018.0,Q1 2018,29584.00,730.0,0.410535
SaleID_235,Mexico,Web,Mall,Personal Accessories,Eyewear,Fairway,2018.0,Q3 2018,12331.05,609.0,0.404658
SaleID_1147,Germany,Phone,Department Store,Camping Equipment,Lanterns,Firefly 4,2020.0,Q1 2020,7587.64,258.0,0.387587

With the help of the **.loc[]** indexer, select the last 5 records from the 'Year' column.

In [144]:
sales_product_data.loc[:,"Year"].tail()

SaleID
SaleID_1272    2020.0
SaleID_1273    2020.0
SaleID_1274    2020.0
SaleID_1275    2020.0
SaleID_1276    2020.0
Name: Year, dtype: float64